@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    background-image: url('/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}